{% extends "layout.html" %}
{% block content %}
<main>
   <div class="container">
      <div class="row">
         <div class="panel panel-primary">
            <div class="panel-heading">Currency Conversion Rate</div>
            <div class="panel-body">
               <div class="pull-left col-md-5 col-sm-12" >
                  <div>
                     <input type="number" name="amount" id="amount" class="form-control" style="width:54%;"  value="1"  step="any"/>
                  </div>
                  <div >
                     <select id="currency1" class="selectpicker">
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                     </select>
                  </div>
                  <div >
                     <select id="currency2" class="selectpicker">
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                     </select>
                  </div>
                  <button class="btn-primary" id="health">Check Currency</button>
               </div>
               <div class="col-md-7 col-sm-12pull-right">
                  <div class="jumbotron">
               
                       <h3> Amount</h3>
                
                     <div >
                        <span>Conversion Rate</span><span id="rate"></span>     
                        <span>Converted Amount</span><span id="converted_amt"></span>  
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock %}